@page "/favorites/List"
@using Core.Domain.Entities
@using Core.Domain.Enums
@using GlobalClimateAPI.Responses
@using System.Net.Http.Headers
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JS

<div class="title-container">
    <h3 class="text-white">Cidades Favoritas</h3>
</div>


<div class="table-responsive favorite-table-container">
    
    @if (IsLoading)
    {
        <h3 class="text-white">Carregando...</h3>
    }
    else if (HasError)
    {
        <h3 class="text-white">Erro ao carregar as cidades favoritas.</h3>
    }
    else if ((FavoriteCities == null || FavoriteCities.Count == 0) && (FavoriteCountries == null || FavoriteCountries.Count == 0))
    {
        if (btnActionTypeContextEnum == BtnActionTypeContext.City)
        {
            <h3 class="text-white">Nenhuma cidade favorita encontrada.</h3>
        }
        else
        {
            <h3 class="text-white">Nenhum país favorito encontrado.</h3>            
        }
    }
    else
    {
        <table class="table table-hover table-dark table-bordered text-white">
            <thead>
                <tr>
                    <th>Nome da Cidade</th>
                    <th>Data Favoritada</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (btnActionTypeContextEnum == BtnActionTypeContext.City)
                {
                    foreach (var city in FavoriteCities)
                    {
                        <tr>
                            <td>@city.CityName</td>
                            <td>@city.FavoritedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</td>
                            <td>
                                <button class="btn btn-delete" @onclick="() => DeleteCity(city.Id)">
                                    delete
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    foreach (var country in FavoriteCountries)
                    {
                        <tr>
                            <td>@country.CountryName</td>
                            <td>@country.FavoritedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</td>

                            <td>
                                <button class="btn btn-delete" @onclick="() => DeleteCountry(country.Id)">
                                    delete
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }

    <button class="btn-voltar" @onclick="() => VoltarAoInicio()">
        Favorites Page
    </button>
</div>


@code {

    private string? btnActionType;
    private string? userId;
    private List<FavoriteCity> FavoriteCities;
    private List<FavoriteCountry> FavoriteCountries;
    private bool IsLoading { get; set; } = true;
    private bool HasError { get; set; } = false;
    private string btnActionTypeContext;
    private BtnActionTypeContext btnActionTypeContextEnum;

    protected override async Task OnInitializedAsync()
    {
        var token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");

        Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);


        try
        {
            btnActionType = await JS.InvokeAsync<string>("localStorage.getItem", "btnActionTypeContext");
            userId = await JS.InvokeAsync<string>("localStorage.getItem", "userId");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Erro ao ler do localStorage: " + ex.Message);
        }

        if (string.IsNullOrWhiteSpace(btnActionType))
        {
            Console.WriteLine("btnActionType está vazio ou nulo.");
            return;
        }

        if (!Enum.TryParse<BtnActionTypeContext>(btnActionType, out btnActionTypeContextEnum))
        {
            Console.WriteLine("Falha ao converter btnActionType em enum.");
            return;
        }

        if (btnActionTypeContextEnum == BtnActionTypeContext.Country)
        {
            try
            {
                var request = new HttpRequestMessage(HttpMethod.Get, $"http://localhost:5233/api/Favorites/GetFavoriteCountriesByUserId?userId={userId}");
                request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token);
                var response = await Http.SendAsync(request);

                if (response.IsSuccessStatusCode == true)
                {
                    var data = await response.Content.ReadFromJsonAsync<GetFavoriteCountriesResponse>();
                    FavoriteCountries = data.Countries;
                }
            }
            catch(Exception ex)
            {
                HasError = true;
            }
            finally
            {
                IsLoading = false;
            }
        }
        else if (btnActionTypeContextEnum == BtnActionTypeContext.City)
        {
            try
            {
                var request = new HttpRequestMessage(HttpMethod.Get, $"http://localhost:5233/api/Favorites/GetFavoriteCitiesByUserId?userId={userId}");
                request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token);

                var response = await Http.SendAsync(request);

                if (response.IsSuccessStatusCode == true)
                {
                    var data = await response.Content.ReadFromJsonAsync<GetFavoriteCitiesResponse>();
                    FavoriteCities = data.Cities;
                }
            }
            catch (Exception ex)
            {
                HasError = true;
            }
            finally
            {
                IsLoading = false;
            }
        }
    }

    private async Task DeleteCity(string id)
    {
        // lógica para deletar cidade
    }

    private async Task VoltarAoInicio()
    {
        Navigation.NavigateTo("/favorites");
    }

    private async Task DeleteCountry(string id)
    {
        // lógica para deletar país
    }
}

<style>
    .favorite-table-container {
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        backdrop-filter: blur(8px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        max-width: 800px;
        text-align: center;
    }

        .favorite-table-container table {
            margin: 0 auto;
        }

    .btn-delete {
        background-color: #dc3545;
        border: none;
        color: white;
        padding: 6px 12px;
        border-radius: 10px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

        .btn-delete:hover {
            background-color: #c82333;
        }

    .favorite-table-container table {
        width: 100%;
        margin: 0 auto;
    }

    .favorite-table-container th,
    .favorite-table-container td {
        width: 33%;
        text-align: center;
    }

    .title-container {
        display: flex;
        justify-content: center;
    }
</style>